<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emgram.kr.dobby.dao.Employee_adminDao">

    <select id="getAllUsers" parameterType="com.emgram.kr.dobby.dto.login.User"  resultType="com.emgram.kr.dobby.dto.login.User">
        select *
        from employee_admin

    </select>


    <select id="getUserInfo" parameterType="com.emgram.kr.dobby.dto.login.User"  resultType="com.emgram.kr.dobby.dto.login.User">
        select *
        from employee_admin
        where
            name = #{name}
        and
            password = #{password}
    </select>

    <select id="getUser" parameterType="com.emgram.kr.dobby.dto.login.User"  resultType="com.emgram.kr.dobby.dto.login.User">
        select *
        from employee_admin
        where
            name = #{name}
    </select>

    <insert id="joinUser" parameterType="com.emgram.kr.dobby.dto.login.User">
        insert
        into
            employee_admin
            (employee_no, name, password, roles)
        values
            (#{employee_no}, #{name}, #{password}, #{roles})
    </insert>

    <update id="insertToken" parameterType="com.emgram.kr.dobby.dto.login.User">
        update
            employee_admin
        set token= #{token}
        where name=#{name}
    </update>

    <update id="insertMemo" parameterType="com.emgram.kr.dobby.dto.login.User">
        update
            employee_admin
        set memo= #{memo}
        where employee_no = #{employee_no}
    </update>


    <update id="updateUser" parameterType="com.emgram.kr.dobby.dto.login.User">
        update employee_admin
        set password = #{password}
        where name = #{name}
    </update>



    <update id="updateCalendarInfo" parameterType="hashmap">
        update caldav_calendar_info
        set calendar_name = #{calendarName}
          , calendar_tag = #{cTag}
          , update_dt = now()
        where
            calendar_id = #{calendarId};
    </update>

    <select id="getAllEventTagList" resultType="com.emgram.kr.dobby.dto.caldav.CaldavEvent">
        select event_id as eventId
             , event_tag as eTag
        from caldav_event_info
        where delete_dt is null;
    </select>

    <update id="deleteEvent" parameterType="java.util.List">
        update caldav_event_info
        set delete_dt = now()
        where event_id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item.eventId}
        </foreach>
    </update>

    <update id="updateEvent" parameterType="com.emgram.kr.dobby.dto.caldav.CaldavCalendar">
        <foreach collection="eventList" item="item">
            update caldav_event_info
            set event_name = #{item.eventName}
            , start_dt = #{item.startTime}
            , end_dt = #{item.endTime}
            , event_tag = #{item.eTag}
            , update_user = #{item.updator}
            , update_dt = #{item.updateTime}
            where event_id = #{item.eventId}
            and calendar_id = #{calendarId};
        </foreach>
    </update>

    <insert id="insertEvent" parameterType="com.emgram.kr.dobby.dto.caldav.CaldavCalendar">
        insert into caldav_event_info
        (
        event_id
        , calendar_id
        , event_name
        , start_dt
        , end_dt
        , event_tag
        , wid
        , create_user
        , update_user
        , create_dt
        , update_dt
        ) values
        <foreach collection="eventList" item="item" separator=",">
            (
            #{item.eventId}
            , #{calendarId}
            , #{item.eventName}
            , #{item.startTime}
            , #{item.endTime}
            , #{item.eTag}
            , #{item.wid}
            , #{item.creator}
            , #{item.updator}
            , #{item.createTime}
            , #{item.updateTime}
            )
        </foreach>
    </insert>
</mapper>