<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.emgram.kr.dobby.dao.HolidayWorkDao">

  <select id="countWorkDayByYearAndEmployeeNo" parameterType="java.util.Map" resultType="long">
    select count(*)
    from holiday_work
    where employee_no = #{employeeNo} and work_date between #{startDate} and #{endDate} and delete_dt is null;
  </select>

  <select id="findAllHolidayWorkBySearchCondition" parameterType="com.emgram.kr.dobby.dto.SearchCondition"
  resultType="com.emgram.kr.dobby.dto.holiday.work.HolidayWorkDto">
    select h.holiday_work_id as holidayWorkId,
           h.employee_no as employeeNo,
            e.name,
           r.rank_name as rankName,
           h.work_date as workDate,
           h.memo
    from holiday_work h
    join employee e on h.employee_no = e.employee_no
    left join `rank` r on e.rank_no = r.rank_no
    <where>
      <if test="query == null">
        and h.delete_dt is null
      </if>
      <if test="query != null and startDate != null and endDate != null">
        or (h.work_date between #{startDate} and #{endDate}) and h.delete_dt is null
      </if>
      <if test="query != null">
        or (h.employee_no like CONCAT('%',#{query},'%') or h.memo like CONCAT('%',#{query},'%')) and h.delete_dt is null
      </if>
    </where>
    limit #{pageSize} offset #{pageOffset};
  </select>
  
  <insert id="saveHolidayWork" parameterType="com.emgram.kr.dobby.dto.holiday.work.HolidayWork">
    insert into holiday_work (employee_no, work_date, memo) value
    (#{employeeNo}, #{workDate}, #{memo});
  </insert>
  
  <update id="updateHolidayWork" parameterType="java.util.Map" >
    update holiday_work set
        employee_no = #{holidayWorkDto.employeeNo},
        work_date = #{holidayWorkDto.workDate},
        memo = #{holidayWorkDto}
    where holiday_work_id = #{holidayWorkId};
  </update>
  <update id="deleteHolidayWork" parameterType="Long">
    update holiday_work set delete_dt = now()
    where holiday_work_id = #{holidayWorkId};
  </update>
</mapper>